* {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.body {
  width: 100vw;
  background-color: black;
  color: aliceblue;
  display: flex;
  gap: 75px;
  margin-top: 0;
  height: 300px;
}
.thank-you {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.footer-image {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 30px;
}
.footer-txt1 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 300px;
}
.footer-txts {
  display: flex;
  flex-direction: column;
}
.footer-btn {
  height: 40px;
  font-size: 18px;
  border-radius: 40px;
}
.footer-btn:hover {
  background-color: black;
  border: 5px solid white;
  color: aliceblue;
}
.footer-text2 {
  display: flex;
  gap: 30px;
}
.social-media-links {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}
.links {
  color: aliceblue;
  font-size: 18px;
  text-decoration: none;
}
.links:hover {
  text-decoration: underline;
}
.text1,
.text2 {
  font-size: 18px;
}
